/composition
composition.py
/results
/_pycache_
*.ipynb
*.txt
*.csv
/PU/pred_result/*.csv
/PU/data/*.csv
/PU/data/test
/PU/data/processed
/PU/data/oqmd
/PU/*.csv
/PU/*.ipynb

/crystal/pred_result/*.csv
/crystal/data/*.csv
/crystal/data/train
/crystal/data/exp_all
/crystal/data/oqmd
/crystal/*.csv
/crystal/*.ipynb

